<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Backbone Auth</title>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="css/application.css" type="text/css" />
		<link rel="stylesheet" href="css/jquery-ui-1.10.3.custom.css" type="text/css" />
	</head>
	<body>
		<!-- define regions -->
		<div id="app-container">
			<div id="header-region"></div>
			<div id="main-region" class="container">
				<p>Error: application failed to start</p>
				<!-- TODO - replace with spinner? -->
			</div>
			<div id="dialog-region"></div>
		</div>
		<!-- Common templates -->
		<script type="text/template" id="loading-template">
			<h1><%- title %></h1>
			<p><%- message %></p>
			<div id="spinner"></div>
		</script>
		<!-- HeaderApp templates -->
		<script type="text/template" id="header-template">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="javascript:void(0)">BackboneAuth</a>
					<div class="nav-collapse collapse">
						<ul class="nav"></ul>
					</div>
				</div>
			</div>
		</script>
		<script type="text/template" id="header-link-template">
			<a href="#<%- url %>"><%- name %></a>
		</script>
		<!-- HomeApp templates-->
		<script type="text/template" id="home-template">
			<h1>Backbone Auth</h1>
			<p>BackboneAuth is an example application demonstrating how JWT-based user authentication can be handled using BackboneJS</p>
		</script>
		<!-- LoginApp templates -->
		<script type="text/template" id="login-form-template">
			<h1>Login</h1>
			<p class="alert"><%- alert %></p>
			<form>
				<div class="control-group">
					<label for="login-username" class="control-label">Username:</label>
					<input id="login-username" name="username" type="text" />
				</div>
				<div class="control-group">
					<label for="login-password" class="control-label">Password:</label>
					<input id="login-password" name="password" type="password" />
				</div>
				<button class="btn js-submit">Login</button>
			</form>
		</script>
		<!-- RegisterApp templates -->
		<script type="text/template" id="register-form-template">
			<h1>Register</h1>
			<form>
				<div class="control-group">
					<label for="register-username" class="control-label">Username:</label>
					<input id="register-username" name="username" type="text" />
				</div>
				<div class="control-group">
					<label for="register-password" class="control-label">Password:</label>
					<input id="register-password" name="password" type="password" />
				</div>
				<button class="btn js-submit">Register</button>
			</form>
		</script>
		<!-- UsersApp templates -->
		<script type="text/template" id="users-list-layout">
			<div id="panel-region"></div>
			<div id="users-region"></div>
		</script>
		<script type="text/template" id="users-list-panel">
			<button class="btn btn-primary js-new">New contact</button>
			<form id="filter-form" class="form-search form-inline pull-right">
				<div class="input-append">
					<input type="text" class="span2 search-query js-filter-criterion">
					<button type="submit" class="btn">Filter contacts</button>
				</div>
			</form>
		</script>
		<script type="text/template" id="users-list-empty-template">
			<td colspan="3">No contacts to display.</td>
		</script>
		<script type="text/template" id="users-list-template">
			<thead>
				<tr>
					<th>First name</th>
					<th>Last name</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</script>
		<!-- js lib -->
		<script src="js/lib/jquery-2.1.4.min.js"></script>
		<script src="js/lib/jquery-ui-1.10.3.js"></script>
		<script src="js/lib/underscore-min.js"></script>
		<script src="js/lib/backbone-min.js"></script>
		<script src="js/lib/backbone.picky.js"></script>
		<script src="js/lib/backbone.syphon.js"></script>
		<script src="js/lib/backbone.babysitter.min.js"></script>
		<script src="js/lib/backbone.wreqr.min.js"></script>
		<script src="js/lib/backbone.radio.min.js"></script>
		<script src="js/lib/backbone.marionette.min.js"></script>
		<script src="js/lib/spin.js"></script>
		<script src="js/lib/spin.jquery.js"></script>
		<!-- js bootstrap -->
		<script src="js/main.js"></script>
		<script src="js/error.js"></script>
		<!-- js common -->
		<script src="js/common/views.js"></script>
		<!-- js session app -->
		<script src="js/app/session/app.js"></script>
		<script src="js/app/session/controller.js"></script>
		<!-- js header app -->
		<script src="js/app/header/app.js"></script>
		<script src="js/app/header/entities.js"></script>
		<script src="js/app/header/list/view.js"></script>
		<script src="js/app/header/list/controller.js"></script>
		<!-- js home app -->
		<script src="js/app/home/app.js"></script>
		<script src="js/app/home/show/view.js"></script>
		<script src="js/app/home/show/controller.js"></script>
		<!-- js login app -->
		<script src="js/app/login/app.js"></script>
		<script src="js/app/login/entity.js"></script>
		<script src="js/app/login/show/view.js"></script>
		<script src="js/app/login/show/controller.js"></script>
		<!-- js register app -->
		<script src="js/app/register/app.js"></script>
		<script src="js/app/register/entity.js"></script>
		<script src="js/app/register/show/view.js"></script>
		<script src="js/app/register/show/controller.js"></script>
		<!-- js users app -->
		<script src="js/app/users/app.js"></script>
		<script src="js/app/users/entity/user.js"></script>
		<script src="js/app/users/list/controller.js"></script>
		<script src="js/app/users/list/view.js"></script>
		<!-- bootstrap -->
		<script type="text/javascript">
			BackboneAuth.start();
		</script>
	</body>
</html>